In [22]:
import calendar
print(calendar.calendar(2002)) #print year calendar

                                  2002

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [23]:
print(calendar.month(2002,12)) #print month of a certain year

   December 2002
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [24]:
calendar.monthcalendar(2022,5) #get week days of a month in a matrix

[[0, 0, 0, 0, 0, 0, 1],
 [2, 3, 4, 5, 6, 7, 8],
 [9, 10, 11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20, 21, 22],
 [23, 24, 25, 26, 27, 28, 29],
 [30, 31, 0, 0, 0, 0, 0]]

In [25]:
calendar.isleap(2016) #check if year is leap

True

In [26]:
calendar.isleap(2022)

False

In [30]:
calendar.setfirstweekday(2) #default 0 - Monday
calendar.firstweekday()     #get first day of the week

2

In [31]:
calendar.monthrange(2022,9) #day of the week of the first day (0 - Monday , and so on)
                            #number of days in the month

(3, 30)

In [32]:
calendar.monthrange(2022,2)

(1, 28)

In [33]:
calendar.weekday(2022,4,27) #day of the week of a date

2

In [34]:
for i in range (7):
    print(calendar.day_name[i])

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [13]:
list(calendar.day_name)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [14]:
list(calendar.day_abbr)

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [15]:
for i in range(13):
    print(calendar.month_name[i])

January
February
March
April
May
June
July
August
September
October
November
December

In [16]:
list(calendar.month_name)

['',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [17]:
list(calendar.month_abbr)

['',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [18]:
# calendar object and example methods
cl = calendar.Calendar()

#week days numbers
for i in cl.iterweekdays():
    print(i)

0
1
2
3
4
5
6

In [19]:
# All dates for the month (datetime.date objects)

list(cl.itermonthdates(2022,4))

[datetime.date(2022, 3, 28),
 datetime.date(2022, 3, 29),
 datetime.date(2022, 3, 30),
 datetime.date(2022, 3, 31),
 datetime.date(2022, 4, 1),
 datetime.date(2022, 4, 2),
 datetime.date(2022, 4, 3),
 datetime.date(2022, 4, 4),
 datetime.date(2022, 4, 5),
 datetime.date(2022, 4, 6),
 datetime.date(2022, 4, 7),
 datetime.date(2022, 4, 8),
 datetime.date(2022, 4, 9),
 datetime.date(2022, 4, 10),
 datetime.date(2022, 4, 11),
 datetime.date(2022, 4, 12),
 datetime.date(2022, 4, 13),
 datetime.date(2022, 4, 14),
 datetime.date(2022, 4, 15),
 datetime.date(2022, 4, 16),
 datetime.date(2022, 4, 17),
 datetime.date(2022, 4, 18),
 datetime.date(2022, 4, 19),
 datetime.date(2022, 4, 20),
 datetime.date(2022, 4, 21),
 datetime.date(2022, 4, 22),
 datetime.date(2022, 4, 23),
 datetime.date(2022, 4, 24),
 datetime.date(2022, 4, 25),
 datetime.date(2022, 4, 26),
 datetime.date(2022, 4, 27),
 datetime.date(2022, 4, 28),
 datetime.date(2022, 4, 29),
 datetime.date(2022, 4, 30),
 datetime.date(2022, 5, 1)]

In [20]:
# list of the weeks of the month of the year 
list (cl.monthdayscalendar(2022,4))

[[0, 0, 0, 0, 1, 2, 3],
 [4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17],
 [18, 19, 20, 21, 22, 23, 24],
 [25, 26, 27, 28, 29, 30, 0]]

In [21]:
#list of the weeks of the year
list(cl.yeardayscalendar(2022))

[[[[0, 0, 0, 0, 0, 1, 2],
   [3, 4, 5, 6, 7, 8, 9],
   [10, 11, 12, 13, 14, 15, 16],
   [17, 18, 19, 20, 21, 22, 23],
   [24, 25, 26, 27, 28, 29, 30],
   [31, 0, 0, 0, 0, 0, 0]],
  [[0, 1, 2, 3, 4, 5, 6],
   [7, 8, 9, 10, 11, 12, 13],
   [14, 15, 16, 17, 18, 19, 20],
   [21, 22, 23, 24, 25, 26, 27],
   [28, 0, 0, 0, 0, 0, 0]],
  [[0, 1, 2, 3, 4, 5, 6],
   [7, 8, 9, 10, 11, 12, 13],
   [14, 15, 16, 17, 18, 19, 20],
   [21, 22, 23, 24, 25, 26, 27],
   [28, 29, 30, 31, 0, 0, 0]]],
 [[[0, 0, 0, 0, 1, 2, 3],
   [4, 5, 6, 7, 8, 9, 10],
   [11, 12, 13, 14, 15, 16, 17],
   [18, 19, 20, 21, 22, 23, 24],
   [25, 26, 27, 28, 29, 30, 0]],
  [[0, 0, 0, 0, 0, 0, 1],
   [2, 3, 4, 5, 6, 7, 8],
   [9, 10, 11, 12, 13, 14, 15],
   [16, 17, 18, 19, 20, 21, 22],
   [23, 24, 25, 26, 27, 28, 29],
   [30, 31, 0, 0, 0, 0, 0]],
  [[0, 0, 1, 2, 3, 4, 5],
   [6, 7, 8, 9, 10, 11, 12],
   [13, 14, 15, 16, 17, 18, 19],
   [20, 21, 22, 23, 24, 25, 26],
   [27, 28, 29, 30, 0, 0, 0]]],
 [[[0, 0, 0, 0, 1, 2, 3],
   [4, 5, 6, 7, 8, 9, 10],
   [11, 12, 13, 14, 15, 16, 17],
   [18, 19, 20, 21, 22, 23, 24],
   [25, 26, 27, 28, 29, 30, 31]],
  [[1, 2, 3, 4, 5, 6, 7],
   [8, 9, 10, 11, 12, 13, 14],
   [15, 16, 17, 18, 19, 20, 21],
   [22, 23, 24, 25, 26, 27, 28],
   [29, 30, 31, 0, 0, 0, 0]],
  [[0, 0, 0, 1, 2, 3, 4],
   [5, 6, 7, 8, 9, 10, 11],
   [12, 13, 14, 15, 16, 17, 18],
   [19, 20, 21, 22, 23, 24, 25],
   [26, 27, 28, 29, 30, 0, 0]]],
 [[[0, 0, 0, 0, 0, 1, 2],
   [3, 4, 5, 6, 7, 8, 9],
   [10, 11, 12, 13, 14, 15, 16],
   [17, 18, 19, 20, 21, 22, 23],
   [24, 25, 26, 27, 28, 29, 30],
   [31, 0, 0, 0, 0, 0, 0]],
  [[0, 1, 2, 3, 4, 5, 6],
   [7, 8, 9, 10, 11, 12, 13],
   [14, 15, 16, 17, 18, 19, 20],
   [21, 22, 23, 24, 25, 26, 27],
   [28, 29, 30, 0, 0, 0, 0]],
  [[0, 0, 0, 1, 2, 3, 4],
   [5, 6, 7, 8, 9, 10, 11],
   [12, 13, 14, 15, 16, 17, 18],
   [19, 20, 21, 22, 23, 24, 25],
   [26, 27, 28, 29, 30, 31, 0]]]]